[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ipykernel = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
keras = "*"
opencv-python = "*"
tensorflow = "*"
natsort = "*"
theano = "*"
scikit-learn = "*"
ipywidgets = "*"
papermill = "*"
tqdm = "*"
mpl-scatter-density = "*"
umap-learn = "*"

[dev-packages]

[requires]
python_version = "3.5"
